div{
    color: green;
}
.order-container{
   width:100%;
   overflow-x: auto;
}
.order-table{
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}
.order-table th, .order-table td{
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
.order-table th{
    background-color: #f4f4f4;
    font-weight: bold;
}
.order-status{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}
th{
    font-size: 1.5rem;
}
td{
    font-size: 1.2rem;
}